<!--This adds a two column section to the page, suitable for things like a photograph or illustration with text 
    Background colour can be either white or gray. The example is white, but change to gray-bg for gray.
    Image is on right hand side by default. To swap to left hand side, add a 'reverse' class to the 'two-col-container' div
-->
<section class="white-bg">
  <div class="content text wrapper">
    <div class="two-col-container">
      <div class="two-col-card text">
        <h2>Data empowers us</h2>
        <p>To work towards a better future for disabled people in Aotearoa, we need to build compelling, evidence-backed stories to advocate for change.</p>
        <p>Data is a vital tool to help us understand, measure, manage, and assess issues and the impact of the changes we make.</p>
        <p>But for a long time, disabled people have struggled to access data. Learn about the history of disability data in our guest essay.</p>
        <a href="{{site.baseurl}}/intro" class="close-button">Read Aotearoa's disability data history</a>
       </div> 
      <div class="two-col-card">
      <img alt="Smiling Māori woman who has Cerebral Palsy and is wearing fabulous earrings drives her motorised wheelchair past a park with hydrangeas." src="{{site.baseurl}}/assets/img/layout/person.jpg">
    </div>
    </div>
  </div>
</section>