<nav class="main-nav" aria-label="Main menu">
    <button aria-label="Close menu" class="menu-icon-close" id="menu-close-button"><i class="fa fa-times" aria-hidden="true"></i></button>
    <ul aria-label="Main menu items">
        <li><a id="menu-first" href="{{site.baseurl}}{% link index.md %}">Home</a></li>
        <li><a href="{{site.baseurl}}{% link intro.md %}">Intro to disability data</a></li>
        <li><a href="{{site.baseurl}}{% link reports.md %}">Disability Reports</a></li>
        <li><a href="{{site.baseurl}}{% link about.md %}">About this site</a></li>
        <!-- <li><a href="{{site.baseurl}}{% link jobs.md %}">Employment Explorer</a></li> -->
        <!--Add more individual pages here-->
        <li><a href="{{site.url}}#topics"><strong>Topics</strong></a></li>
        {% for topic in site.topics %}
            <li><a href="{{ topic.link | relative_url }}">{{ topic.title }}</a></li>
        {% endfor %}
        <!--Add more collection groups here. The code example above will iterate through each post.-->
    </ul>
</nav>