<!--This adds a centered text section to the page, suitable for things like an introductory paragraph with a title. 
    Background colour can be either white or grey. The example is white, but change to grey-bg for grey.
-->
<section class="white-bg">
  <div class="content categories wrapper">
  <h2>Explore data about your community</h2>
  <div class="text">
    <p>{{site.title}} brings together data, research and reports on Pacific people in Aotearoa. You can access data from reputable sources that is free for you to take and use.</p>
    <p>Find data on Pacific health, education, wellbeing, and more. Read reports that contain data about Pacific people in NZ, Pacific data sovereignty, and other topics. We’ve also gathered a list of Pacific data experts and researchers to help give important context to data.</p>
  </div>
  </div>
</section>