<!--This adds a centered text section to the page, suitable for things like an introductory paragraph with a title. 
    Background colour can be either white or grey. The example is white, but change to grey-bg for grey.
-->
<section class="white-bg">
  <div class="content categories wrapper">
  <div class="text">
    <h2>Welcome to {{site.title}}.</h2>
    <p>{{site.title}} brings together data, research and reports for disabled people in Aotearoa. You can access data from reputable sources that is free for you to take and use.</p>
    <p>Find data on disabled people's wellbeing, employment, housing, education, health, and more. You can also read reports that contain data about disabled people in NZ and other topics.</p>
  </div>
  </div>
</section>