$ta-background-image-url: url('/assets/img/SlateTileNoBackground.png') !default;

$dark-gray: #3e3e40;
$mid-gray: #999999;
$slate: #3F526F;
$white: #FFF;
$gray: #fafafa;
$blurple: #5461C8;
$dark-slate: #2c3c55;
$black: #000;
$dark-pink: #BA0A87;

$border-radius: 10px;

$box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

$h1-font-family: Newzald;
$h2-font-family: FoundersGroteskRegular;
$h3-font-family: FoundersGroteskRegular;
$h4-font-family: FoundersGroteskLight;
$h5-font-family: FoundersGroteskLight;
$base-font-family: FoundersGroteskRegular;

$post-card-font-family: FoundersGroteskRegular;

$menu-header-font-family: FoundersGroteskRegular;
$measure-category-font-family: FoundersGroteskLight;
$measure-category-value-font-family: FoundersGroteskLight; 

$background-colour: $blurple;
$background-header-colour: $blurple;
$menu-header-colour: $slate;
$header-colour: $blurple;
$post-card-header-colour: $white;
$dataset-border-colour: $gray;
$measure-text-colour: $slate;
$button-colour: $blurple;

@function disintensify($color) {
  @return saturate(darken($color, 10%), 100)
}

@function chill($color) {
  @return lighten($color, 50%)
}

@function highlight($color) {
  @return saturate(lighten($color, 10%), 100)
}

$h1-font-size: 4em;
$h2-font-size: 3em;
$h3-font-size: 2em;
$h4-font-size: 1.5em;
$h5-font-size: 1.4em;
$h6-font-size: 1.25em;
